body{
    background: linear-gradient(115deg, #56d8e4 5%, #9f01ea 90%);
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.signupfrm{
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form{
    background-color: whitesmoke;           
    width: 400px;
    border-radius: 50px;
    padding: 20px 40px;
    box-shadow:  20px 20px 50px #00d2c6, 
            -30px -30px 60px #00ffff;

            
}

.title {
  font-size: 39px;
  margin-bottom: 50px;
  text-align: center;

}

.inputcontainer{
     position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0px 15px;
  outline: none;
  background: none;
  z-index: 1;
}

.label{
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: whitesmoke;
  font-size: 17px;
  color:solid black;
  font-weight: bolder;
}


.submitbtn{
 display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: rgb(185, 8, 255);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
 margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.signup-link{
    color: #3498db;
  text-decoration: none;
 text-align: center;
}